config edge
	option ifname		'edge0'
	#option macaddr		'00:11:22:33:44:55'
	option ipaddr		''
	#option ipaddr		'dhcp:0.0.0.0'
	#option netmask		'255.255.255.0'
	option supernode	''
	option resolveip	'0'
	option community	''
	option key		''
	#option localport	'12345'
	#option localip		''
	#option holepunch	'20'
	option user		'nobody'
	option group		'nobody'
	option route		'0'
	option enabled		'0'
	option debug		'0'
